form action="/albums/new" method="post"
    input type="text" name="title" placeholder="Albumets titel"
    input type="text" name="artist_id" placeholder="Artist Id"
    input type="submit" value="Publicera Album"